.header {
  display: flex;
  justify-content: center;
  background-color: var(--background-dark);
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  max-width: var(--breakpoint-xl);
  width: 100%;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 42px;
  }
}
