.monaco-editor .view-line,
.monaco-editor .view-overlays,
.monaco-editor .cursor {
  margin-top: 10px;
}

.monaco-editor .margin {
  padding-top: 10px;
  background-color: var(--color-secondary) !important;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: var(--color-secondary) !important;
}
